* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #FF7777;
	font-family: sans-serif;
}

.everything {
	width: 1131px;
	margin-left: auto;
	margin-right: auto;

	/*To counterract the effect of setting the background color of the body to #FF7777*/
	background-color: white;


}

/*************************Banner***********************************/

.banner {
	background-color: #FFF2CC;
	height: 140px;

	/*Used to center the text*/
	display: flex;
  	justify-content: center;
  	align-items: center;

  	/*Used to adjust size and font*/
  	font-family: "Rock Salt";
  	font-size: 25px;
  	font-weight: bold;
  	color: darkred;

  	/*Used to centre the div in the middle of the screen*/
  	margin: auto;
	
}

#leftRamenIcon {
	width: 120px;
	height: 120px;
	margin-right: auto;
	margin-left: 30px;
}

#rightRamenIcon {
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: 30px;
}

/*************************NavBar***********************************/

.nav {
	/*Adjust size of nav bar*/
	
	background-color: #FFF171/*#FF8118*/;
	height: 50px;

	/*Used to center the nav bar inside the div*/
	display: flex;
    list-style: none;
    align-items: center;
  	
}

.nav ul {
	/*Used to make the list horizontal and center the list items*/
    display: flex;
    list-style: none;
    align-items: center;

    margin:  0;

    margin-left: auto;
    margin-right:  auto;
 
  }
.nav li {
	padding-left: 2em;
	padding-right:2em;

	font-family: sans-serif;

}


.nav li a {
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	
}